<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/main.css' />
    
  </head>
  <body><div class="container"><div class="col-sm-offset-2 col-sm-8">

	<h1><%= title %></h1>
    <p>Welcome to <%= title %>.</p>
    
    <form method='post' action="<%= !passwordExists ? '/register' : '/signin' %>">
   		<input class="form-control" name="pass" type="password" placeholder="password">
   		<button class="btn btn-default pull-right" type="submit">
   			<%= !passwordExists ? 'Register' : 'Sign in' %>
   		</button>
    </form>

  </div></div></body>
</html>
